*{
    padding: 0;
    margin: 0;
}
.titulo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "red hat display";
    font-size: 60px;
}
h2{
    font-family: "bayon" !important;
    color: #273758;
}
#usuT {
    background-color: #273758;
    color: white;
    width: 90%;
}

body {
    font-family: "be vietnam pro";
}
h5 {
    font-family: "bayon";
}
#tabla {
    width: 90%;
}